<div id="about-content">
  <div id="about-wrap">
    <div id="about-image">

    </div>

    <div id="about-info">
      <div id="left-column">
        <h1 id ="about-title">TROCHĘ O NAS.</h1>
        <div id="about-text">
          <p class='about-p'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime asperiores voluptates placeat sint sapiente aut, laudantium, doloribus ullam at modi.</p>
          <p class='about-p'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio eum et commodi.</p>
          <p class='about-p'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aperiam non enim unde? Tempore nulla temporibus, dolore.</p>
        </div>

      </div>
    </div>
  </div>

</div>
<footer>
  <div id="footer">
    <span id="footer-text">INLI &copy wszystkie prawa zastrzeżone</span>
  </div>
</footer>
