<div id="about-content">
  <div id="about-wrap">
    <div id="about-image">

    </div>

    <div id="about-info">
      <div id="left-column">
        <h1 id ="about-title">TROCHĘ O NAS.</h1>
        <div id="about-text">
          <p class='about-p'>Jesteśmy młodą firmą, która stara się połączyć wysoką jakość wykonania przy zachowaniu możliwie niskiej ceny.</p>
          <p class='about-p'>Wszystkie etapy produkcji wykonujemy w naszym małym warsztacie i słuchamy waszych opinii czy sugestii aby lampy do makijażu powstawały tak, jakbyście Wy tego chcieli. Jeżeli masz jakiś pomysł na toaletkę, chciałbyś go wykonać ale kompletnie nie masz o tym pojęcia, śmiało zwróć się do nas! </p>
          <p class='about-p'>Na Twoje zamówienie stworzymy darmowy projekt i wykonamy go specjalnie dla Ciebie</p>
        </div>

      </div>
    </div>
  </div>

</div>
<footer id="special-footer">
  <div id="footer">
    <div id="footermenu">
      <a href="#zamowienia" class="footeritem">Zamówienia</a>
      <a href="#informacje" class="footeritem">Informacje</a>
    </div>
    <span id="footer-text"></span>
  </div>
</footer>
