<div id="about-content">
  <div id="about-wrap">


    <div id="contact-info">
      <div id="left-column-contact">
        <div id="contact-image">

        </div>
        <h1 id ="about-title">W KONTAKCIE.</h1>
        <div id="about-text">
          <p class='about-p'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime asperiores voluptates placeat sint sapiente aut, laudantium, doloribus ullam at modi.</p>
          <p class='about-p'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio eum et commodi.</p>
          <p class='about-p'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aperiam non enim unde? Tempore nulla temporibus, dolore.</p>
        </div>
      </div>

      <div id="right-column">
          <div id="wrap-contact">
            <div id="message-icon-wrap">
              <span class="message-span"></span>
                <div id="message-icon-border">
                  <img src="images/mail.png" alt="" id="message-icon">
                </div>
              <span class="message-span"></span>
            </div>

            <form id="gform" id="formularz" method="POST" class="pure-form pure-form-stacked" data-email="inlilamps@gmail.com"
                  action="https://script.google.com/macros/s/AKfycbz3Hw--5E-_TP-oHvhLh99lj78ldfK-wciZJgVoYryIOlJb-Hk/exec">

                <span id="form-title">Zostaw nam wiadomość!</span>

                <div class="wrap-input">
                  <input id="name"  class="input-form" name="name" placeholder="Powiedz nam jak się nazywasz" />
                </div>

                <div class="wrap-input">
                  <input id="email" class="input-form" name="email" type="email" value=""
                         required placeholder="nazwa@email.pl" />

                </div>

                <div class="wrap-message">
                  <textarea id="message" name="message" rows="10"
                            placeholder="W czym pomóc..."></textarea>

                </div>

                <div id="button-wrap">
                  <button id="send">
                      <i class="fa fa-paper-plane"></i>
                  </button>
                </div>


            </form>

          </div>
      </div>
    </div>
  </div>
  <footer>
    <div id="footer">
      <span id="footer-text">INLI &copy wszystkie prawa zastrzeżone</span>
    </div>
  </footer>
</div>
