<div id="about-content">
  <div id="about-wrap">


    <div id="contact-info">
      <div id="left-column-contact">
        <div id="contact-image">

        </div>
        <h1 id ="about-title">W KONTAKCIE.</h1>
        <div id="contact-text">
          <p class='contact-p'>Jeżeli spodobał Ci się nasz pomysł i chciałabyś wyposażyć swoją sypialnię, gabinet czy studio w lampy flex,</p>
          <p class='contact-p'><img src="../images/mail2.png" alt="" id="mailicon">Napisz do nas na adres: <a href="mailto: inlilamps@gmail.com" id="mailaddress">inlilamps@gmail.com</a>, albo poprzez poniższy formularz! </p>
          <p class='contact-p' id="phone-wrap"><img src="../images/phone.png" alt="" id="phoneicon"> Lub zadzwoń: <a href="tel:+48512072082" id="phone">512 072 082</a> </p>
        </div>
        <div id="zamowienia-button-wrap">
        <a href="#zamowienia"><button class="zamowienia-button">ZAMOWIENIA</button></a>
        </div>
      </div>

      <div id="right-column">
          <div id="wrap-contact">
            <div id="message-icon-wrap">
              <span class="message-span"></span>
                <div id="message-icon-border">
                  <img src="images/mail.png" alt="" id="message-icon">
                </div>
              <span class="message-span"></span>
            </div>

            <form id="gform" id="formularz" method="POST" class="pure-form pure-form-stacked" data-email="inlilamps@gmail.com"
                  action="https://script.google.com/macros/s/AKfycbz3Hw--5E-_TP-oHvhLh99lj78ldfK-wciZJgVoYryIOlJb-Hk/exec">

                <span id="form-title">Zostaw nam wiadomość!</span>

                <div class="wrap-input">
                  <input id="name"  class="input-form" name="name" placeholder="Powiedz nam jak się nazywasz" />
                </div>

                <div class="wrap-input">
                  <input id="email" class="input-form" name="email" type="email" value=""
                         required placeholder="nazwa@email.pl" />

                </div>

                <div class="wrap-message">
                  <textarea id="message" name="message" rows="10"
                            placeholder="W czym pomóc..."></textarea>

                </div>

                <div id="button-wrap">
                  <button class="send">
                      <i class="fa fa-paper-plane"></i>
                  </button>
                </div>


            </form>

          </div>
      </div>
    </div>
  </div>
  <footer id="special-footer">
    <div id="footer">
      <div id="footermenu">
        <a href="#zamowienia" class="footeritem">Zamówienia</a>
        <a href="#informacje" class="footeritem">Informacje</a>
      </div>
      <span id="footer-text"></span>
    </div>
  </footer>
</div>
