<div id="content-home">

    <div id="bg-home">
      <div id="bg-logo">
        <div class="single-letter reveal-first">I</div>
        <div class="single-letter reveal-second">N</div>
        <div class="logo-wrap">
          <div class="z-index single-letter reveal-third">L</div><div class="animate-logo reveal-third">ight</div>
      </div>
        <div class="z-index single-letter reveal-fourth">I </div><div class="animate-logo reveal-fourth"> Trust</div>
      </div>
      <div id="logo-wrap reveal-fifth">
        <div id="bg-description">Tworzone z pasją w domowym zaciszu</div>
      </div>

  </div>
</div>

<div id="content-stuff">
  <div class="content-blocks">
    <div class="content-title">Lampy INLi</div>
    <div class="content-subtitle">Przedstawiamy nasze lampy do makijażu codziennego i profesjonalnego stworzone w zaciszu małego warsztatu o wielkim sercu. </div>
    <div class="content-description"><br>Prosty design wpasuje się w każde pomieszczenie. Używamy żarówek o barwie neutralnej, która nie przekłamuje odcieni na żywo i uwydatnia je na zdjęciu, a dzięki podwójnemu włącznikowi to TY decydujesz ile żarówek ma się świecić tak, aby dopasować intensywność do otoczenia w słoneczny i bardziej pochmurny dzień. </div>
  </div>

  <div class="content-images-wrap">
    <div class="content-images-collage">
      <div id="content-image-first"></div>
      <div id="content-image-second"></div>
      <div id="content-image-third"></div>
      <div id="content-image-fourth"></div>
    </div>
  </div>
</div>
<script type="text/javascript">

      const parallax = document.getElementById('content-home');
      const bgHome = document.getElementById('bg-home');
      let currentOpacity;

      window.onscroll = function(){ scrolling();}
      function scrolling() {
        currentScroll = document.documentElement.scrollTop / 5;
        currentOpacity = 1 - document.documentElement.scrollTop / 400;
        parallax.style.backgroundPosition = `center ${-currentScroll}px`;
        bgHome.style.opacity = currentOpacity;
        console.log(currentOpacity);
      }

</script>
