<div id="content-home">

    <div id="bg-home">
      <div id="bg-logo">
        <div class="single-letter reveal-first">I</div>
        <div class="single-letter reveal-second">N</div>
        <div class="logo-wrap">
          <div class="z-index single-letter reveal-third">L</div><div class="animate-logo reveal-third">ight</div>
      </div>
        <div class="z-index single-letter reveal-fourth">I </div><div class="animate-logo reveal-fourth"> Trust</div>
      </div>
      <div id="logo-wrap reveal-fifth">
        <div id="bg-description">Jesteś dziełem sztuki !</div>
      </div>

  </div>
</div>

<div id="content-stuff">
  <div class="content-blocks">
    <div class="content-title">Lampy Flex</div>
    <div class="content-description"><br>Męczy Cię malowanie się w różnych zakamarkach mieszkania? <br>Stwórz własną toaletkę z naszymi lampami FLEX. Jednym przyciskiem zmienisz intensywność oświetlenia, a dzięki naturalnej barwie światła makijaż będzie idealny. <br> Wkomponują się w każde wnętrze i odmienią Twój codzienny rytuał w przyjemność.  </div>
  </div>

  <div class="content-images-wrap">
    <div class="content-images-collage">
      <img src="../images/img/toaletka-6.jpg" alt="" class="imgdesc" id="img-first">
      <img src="../images/img/toaletka-3.jpg" alt="" class="imgdesc" id="img-second">
      <img src="../images/img/toaletka-12.jpg" alt="" class="imgdesc" id="img-third">
      <img src="../images/img/toaletka-13.jpg" alt="" class="imgdesc" id="img-fourth">
      <img src="../images/img/toaletka-11.jpg" alt="" class="imgdesc" id="img-fifth">
      <img src="../images/img/toaletka-14.jpg" alt="" class="imgdesc" id="img-sixth">
      <img src="../images/img/toaletka-8.jpg" alt="" class="imgdesc" id="img-seventh">
  </div>
  </div>
</div>
<div id="social-wrap">
<div id="social-media-footer">
  <div class="social-icon">
    <a href="">
      <img src="images/facebook.png" alt="" class="icon-footer">
    </a>
  </div>
  <div class="social-icon-footer">
    <a href="">
      <img src="images/instagram.png" alt="" class="icon-footer">
    </a>
    </div>
  </div>
</div>
