<div class="infowrap">
  <h2 class="info-title">Informacje:</h2>
  <h3 class="info-subtitle">RODO</h3>
  <p class="info-text">
    Przesyłając do nas swoje zamówienie wyrażacie Państwo zgodę na przetworzenie danych osobowych takich jak imię, nazwisko, dane adresowe, teleadresowe i inne potrzebne do zrealizowania zamówienia. Państwa dane nie będą przetwarzane w żadnym innym celu, nie zostaną również udostępnione firmom zewnętrznym
  </p>
</div>

<footer>
  <div id="footer">
    <div id="footermenu">
      <a href="#zamowienia" class="footeritem">Zamówienia</a>
      <a href="#informacje" class="footeritem">Informacje</a>
    </div>
    <span id="footer-text"></span>
  </div>
</footer>
