<div class="infowrap">
    <h2 class="info-title">Zamówienia:</h2>
    <p id="zamowienia-kontakt-text">W celu wszystkich uzgodnień napisz do nas maila, wszystkie potrzebne inforamcje są w zakładce <a href="#contact" id="zamowenia-kontakt">KONTAKT</a></p>
    <h3 class="info-subtitle">Opłacenie zamówienia:</h3>
    <p class="info-text">Przelew prosimy realizować na numer konta bankowego : </p>
    <p class="info-text" id="bankaccout">09 1020 1332 0000 1902 1091 8300</p>
    <p class="info-text">Tytułem : Imię i Nazwisko osoby zamawiającej i adres do wysyłki</p>
    <h3 class="info-subtitle">Koszt przesyłki</h3>
    <p class="info-text">30zł (przelew z góry)</p>
    <p class="info-text">35.99zł (pobraniowa)</p>
</div>
<footer>
  <div id="footer">
    <div id="footermenu">
      <a href="#zamowienia" class="footeritem">Zamówienia</a>
      <a href="#informacje" class="footeritem">Informacje</a>
    </div>
    <span id="footer-text"></span>
  </div>
</footer>
